[submodule "CrystalCore"]
	path = CrystalCore
	url = https://github.com/RetliveAdore/CrystalCore
[submodule "CrystalAlgorithms"]
	path = CrystalAlgorithms
	url = https://github.com/RetliveAdore/CrystalAlgorithms
